<div class="n-header-container">
  <img
    src="assets/images/avion-white.svg"
    alt="avion"
    class="n-header-logo n-margin-left-default"
    routerLink="/"
  />
  <div class="n-team-contact">
    <button class="n-speak-to-our-team n-margin-right-default">
      Speak to our team
    </button>
  </div>
</div>
<div class="n-powered-by-people-container">
  <div class="n-flex-row n-margin-left-default n-margin-right-default n-powered-by-people-inner-container">
  <div class="n-powered-by-people">Powered by people.</div>
  <div class="n-at-avion-consultants">
    At Avion Consultants, we're a seasoned team of industry veterans with a
    shared passion for excellence in airport operations and digital
    transformation. We've been the force behind some of the world's most
    significant airport projects, relentlessly committed to elevating key
    performance indicators that matter to you. Our mission is clear: to make
    airports more efficient, secure, and passenger-friendly. We know that your
    success hinges on optimized operations and satisfied customers, and we're
    here to help you achieve just that. United in our drive to innovate, we're
    continually expanding our diverse team to bring you world-class solutions
    for sustainable growth.
  </div>
  </div>
</div>
<div class="n-flex-column n-margin-left-default n-margin-right-default n-team-members">
    <div class="n-flex-row n-two-team-members">
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/m-aslam.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Mohamed Aslam</span>
                <span class="n-linkedin-circle" (click)="openLinkedin('https://www.linkedin.com/in/aslamallugundu/')">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">Managing Partner & Senior Advisor - Aviation</div>
            <div class="n-team-member-about">
                As Chief Aviation IT Consultant at Avion, Aslam spearheads our aviation tech and digital solutions, bringing over two decades of high-level experience from roles at Emirates, Qatar Airways, and major international airports like Doha and Bangalore. Known for managing budgets upwards of $100 million, Aslam has successfully executed industry-leading digital transformation initiatives that have garnered international awards and significantly boosted revenues, customer experience, and operational efficiency. His collaborative approach has built strong, lasting partnerships across the MENA and Indian regions, including the pivotal ICT transition for Qatar's $15B Hamad International Airport.
            </div>
        </div>
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/m-raj.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Michael Raj</span>
                <span class="n-linkedin-circle" (click)="openLinkedin('https://www.linkedin.com/in/michael-raj-a-r-8260ab1a6/')">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">Director – Smart Mobility Practice</div>
            <div class="n-team-member-about">
                Michael Raj is a seasoned airport management expert with a 38-year career spanning multiple roles in both domestic and international mobility organizations. Specializing in IT, security systems, and infrastructure, he has been instrumental in major airport projects in India and the Middle East, including Mumbai, Dubai, and Delhi. Michael excels in strategic planning and has a strong skill set in consulting, project and vendor management, and crisis response. His comprehensive understanding of core and sub-systems within airport operations make him a trusted leader in the industry.
            </div>
        </div>
    </div>
    
    <div class="n-flex-row n-two-team-members">
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/v-shrivastava.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Vishal Srivastava</span>
                <span class="n-linkedin-circle">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">Managing Partner & Senior Advisor - Aviation</div>
            <div class="n-team-member-about">
                Vishal Srivastava is a techno-functional aviation professional with over 22 years uniquely bridging airline ground operations and IT solutions. He has distinguished himself at top-tier organizations like Delhi International Airport, Qatar Airways, and Mindtree Ltd. Specializing in customer services and core applications, Vishal excels at connecting business and technical teams. He has successfully implemented award-winning systems in passenger processing and baggage management, and innovatively applied non-aviation IoT solutions to solve key airport challenges like vehicle tracking and aircraft turnaround.
            </div>
        </div>
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/k-morris.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Kim Morris</span>
                <span class="n-linkedin-circle">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">Director – Smart Mobility Practice</div>
            <div class="n-team-member-about">
                Kim Morris, as Avion's Principle Consultant for Airport, Airline & Cargo, carries over three decades of enriched international experience, spanning Digital Transformation, IT Strategy, and Product Management. Having directed large-scale transformational projects, Kim showcases a profound grasp of domains not only within Aviation—covering Passenger & Cargo Billing, Direct Operating Cost Management, and Route Profitability—but also across diverse sectors like Retail, Finance, and Healthcare. Recognized as a Business Technology maven, her expertise encompasses Process Consulting, Enterprise Data Analytics, CRM, and Agile methodologies. Kim's mentorship in the Centre of Excellence underscores her leadership in fostering next-gen talents.
            </div>
        </div>
    </div>

    <div class="n-flex-row n-two-team-members">
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/s-fernandes.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Savio Fernandes</span>
                <span class="n-linkedin-circle">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">SME - Airports, Airlines, & Retail</div>
            <div class="n-team-member-about">
                Savio Fernandes, Avion's SME in Airports, Airlines, & Retail, boasts 20+ years in driving Digital Transformation and IT projects for industry giants like Hamad International Airport and Qatar Airways. Specializing in both Green and Brown Field Airport environments, his multifaceted expertise extends from MRO and Quality Assurance to Travel Retail and Aviation Business Applications Management. Known for optimizing IT costs while enhancing revenue and business productivity, Savio has steered a range of projects—from ERP implementations to greenfield and brownfield airport ventures. His work consistently aims to balance sustainability, operational efficiency, and commercial success.  
            </div>
        </div>
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/s-gummadi.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Dr. Sudhakar Gummadi</span>
                <span class="n-linkedin-circle" (click)="openLinkedin('https://www.linkedin.com/in/sudhakar-gummadi/')">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">Director – Technology</div>
            <div class="n-team-member-about">
                Dr. Sudhakar Gummadi, Avion's Director of Technology, brings over 35 years of expertise in business innovation through tech leadership. Holding a doctorate, he specializes in multi-platform enterprise security, risk management, and business transformation. A seasoned hand in designing and implementing both wired and wireless networks, as well as data centers, Dr. Gummadi has also had an impact on academia, formulating post-graduate courses in Network Engineering and Security. With his profound knowledge in industrial automation and compliance, he serves as a vital asset for driving both technological and business excellence.
            </div>
        </div>
    </div>

    <div class="n-flex-row n-two-team-members">
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/k-ravi.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Karthikeyan Ravi</span>
                <span class="n-linkedin-circle" (click)="openLinkedin('https://www.linkedin.com/in/karthikeyan-ravi-09388915/')">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">AVP – Technology</div>
            <div class="n-team-member-about">
                Karthikeyan Ravi, our AVP of Technology, boasts over 16 years in the IT sector, staying on the cutting edge of technology. An expert Solution Architect, Karthikeyan excels in designing and executing complex IT infrastructures. His well-rounded skills span across Networking, Software Design, Cloud, and IoT. Having worked on major projects across India, he's well-versed in LAN, WAN, Security Firewalls, and Mobility Solutions. With particular expertise in airport and metro rail systems, Karthikeyan adds value at every turn, serving as an invaluable asset for IT solutions.   
            </div>
        </div>
        <div class="n-flex-column n-team-member-card">
            <img src="assets/images/team/v-al.png" alt="team-member" class="n-team-member-image"/>
            <div class="n-flex-row n-team-member-linkedin">
                <span class="n-team-member">Valliappan AL</span>
                <span class="n-linkedin-circle" (click)="openLinkedin('https://www.linkedin.com/in/valliappan-al-010213b/')">
                <img src="assets/images/team-linkedin.png" alt="linkedin" class="n-team-linkedin"/>
                </span>
            </div>
            <div class="n-team-member-position">AVP - Design & Engineering</div>
            <div class="n-team-member-about">
                Valliappan AL, our AVP of Design & Engineering, brings over 15 years of cross-industry experience, specializing in IT, Banking, and Telecom. An adept IT Infra Solution Architect, he excels in Data-Center Infrastructure, Network Virtualization, and Unified Communications. Valliappan's proven project management skills enable him to handle multiple high-stakes projects simultaneously. With deep expertise in Internet/Intranet Architecture and Telecommunication, he is proficient at every stage of IT projects, from RFP preparation to implementation and optimization.
            </div>
        </div>
    </div>
</div>
<div class="n-flex-row n-margin-left-default n-get-a-30-min-container">
    <div class="n-flex-column">
      <div class="n-get-a-30-min">Get a 30-minute, no-cost strategy session with an Avion expert.</div>
      <div class="n-this-will-begin">This will begin to make things right. I've traveled too far, and seen too much, to ignore the despair in the galaxy. </div>
      <button class="n-book-a-consultation">Book a consultation</button>
    </div>
    <img src="assets/images/man-on-call.png" alt="man-on-call" class="n-man-on-call"/>
  </div>